<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bulatov_BlogBackend::diecontroller" title="Die" module="Bulatov_BlogBackend" sortOrder="1" resource="Bulatov_BlogBackend::backend" action="die"/>
       </menu>
</config>
