<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bulatov_BlogBackend::backblog" title="Blog" module="Bulatov_BlogBackend" sortOrder="1" resource="Magento_Backend::content"/>
        <add id="Bulatov_BlogBackend::backblog_listing" title="Listing" module="Bulatov_BlogBackend" sortOrder="1" parent="Bulatov_BlogBackend::backblog" action="blogbackend/blogcontroller" resource="Bulatov_BlogBackend::backblog_listing"/>
    </menu>
</config>
