<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Bulatov\BlogBackend\Ui\DataProvider\SearchResult" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">blogs</argument>
            <argument name="resourceModel" xsi:type="string">Bulatov\BlogCore\Model\ResourceModel\ResourceBlogModel\BlogCollection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blogs_listing_data_source" xsi:type="string">Bulatov\BlogBackend\Ui\DataProvider\SearchResult</item>
            </argument>
        </arguments>
    </type>
</config>
